@import url('https://fonts.googleapis.com/css2?family=Arapey:ital@0;1&family=Inter:wght@100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
nav {
    padding: 0 10px !important;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.container-fluid {
    display: flex;
}
.navbar-brand {
    align-self: center;
}
.navbar-toggler {
    display: none;
    overflow: none;
}
.inner-nav {
    width: 100%;
}
.container-fluid ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
}
.container-fluid ul li a {
    text-decoration: none;
    color: black;
    font-family: "Inter", sans-serif;
    font-size: 14px;
}
.flex-start {
    display: flex;
    column-gap: 40px;
    flex-direction: row;
    align-self: center;
}
li.near-me {
    background-color: rgba(50, 55, 153, 1);
    padding: 14px 30px;
    border-radius: 4px;
}
a li.near-me {
    color: white !important;
    font-family: "Inter", sans-serif;
    font-size: 14px;
}
a.nav-link {
    text-decoration: none;
}
a.navbar-brand {
    font-family: "Inter", sans-serif;
    color: rgba(50, 55, 153, 1);
    font-size: 22px;
    text-decoration: none;
}
.mobile-nav {
    width: 85%;
    height: 100%;
    position: fixed;
    top: 0;
    right:0;
    background-color: black;
    opacity: 0.8;
}
nav.mobile-nav ul li a {
    color: white;
}
.mobile-nav .inner-nav {
    padding: 10px;
}
.mobile-nav .inner-nav ul {
    list-style: none;
    padding-inline-start: 0;
}
.mobile-nav .inner-nav ul li a{
    font-family: "Inter", sans-serif;
}
.mobile-nav .inner-nav ul li {
    padding: 10px 0;
}
.open-nav {
    display: none;
    overflow: none;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1000;
    color: black;
}
.close {
    display: none;
    overflow: none;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1000;
    color: black;
}