{% extends "pages/base.html" %}

{% block title %}
About Us
{% endblock %}
{% block content %}
<main class="about-us">
    <h1>Mission Statement</h1>
    <p>"At MiCenterNYC, we are dedicated to easing the journey of migrants in New York City by providing a comprehensive, accessible, and community-driven online platform. Our mission is to empower migrants by connecting them with vital resources, support networks, and volunteering opportunities, ensuring that they find the assistance they need with ease. Through a user-friendly interface, multilingual support, and collaborative partnerships, we strive to foster a sense of belonging and empowerment within the migrant community while promoting unity and understanding across all backgrounds."</p>
</main>
{% endblock %}
