{% extends "pages/base.html" %}
{% load static %}
{% block title %}
MiCenterNYC | About Us
{% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static 'styles/css/about-us.css' %}" />
<link rel="stylesheet" href="{% static 'styles/css/globals.css' %}" />
<link rel="stylesheet" href="{% static 'styles/css/styleguide.css' %}" />
{% endblock %}
{% block content %}
<main>
  <input type="hidden" id="anPageName" name="page" value="about-us" />
    <div class="container-center-horizontal">
      <div class="about-us screen">
        <h1 class="title newsreader-normal-black-64px">Our Mission</h1>
        <p class="at-mi-center-nyc-we-a">
          At MiCenterNYC, we are dedicated to easing the journey of migrants in New York City by providing a
          comprehensive, accessible, and community-driven online platform. Our mission is to empower migrants by
          connecting them with vital resources, support networks, and volunteering opportunities, ensuring that they
          find the assistance they need with ease. Through a user-friendly interface, multilingual support, and
          collaborative partnerships, we strive to foster a sense of belonging and empowerment within the migrant
          community while promoting unity and understanding across all backgrounds.
        </p>
        <div class="mi-core-values newsreader-normal-black-64px">MiCoreValues</div>
          <div>
            <h3>Empathy</h3>
            <p>We understand that every migrant's journey is unique, and we are committed to approaching each story with an open mind and without judgment. By recognizing their struggles and honoring their resilience, we aim to offer the necessary resources.</p>
          </div>
          <div>
            <h3>Inclusivity</h3>
            <p>Our unwavering commitment to inclusivity ensures that all migrants, regardless of their homeland or cultural background, will have easy access to our website's resources. Our user-friendly shelter page is designed to help migrants quickly find nearby shelters and provides essential details about each location.</p>
          </div>
          <div>
            <h3>Collaboration</h3>
            <p>We believe that collaborating and building strong relationships with local shelters is critical to supporting migrants on their journeys. Through collaboration efforts, we can ensure that every migrant is accounted for and given the proper resources. </p>
          </div>
      </div>
    </div>
</main>
  {% endblock %}