{% extends "pages/base.html" %}

{% block title %}
MiCenterNYC
{% endblock %}
{% block content %}
<main>
<div class="container-center-horizontal">
    <div class="homepage screen">
      <div class="flex-col">
        
        <h1 class="title">Find the Center Perfect for YOU</h1>
        <a href="{% url 'shelters' %}" class="button">Find Centers Near Me</a>
        <div class="we-believe-container">
          <div class="what-we-believe">WHAT WE BELIEVE</div>
          <p class="we-believe-in-produc">
            We believe in produce. Tasty produce. Produce like:<br><br>Apples. Oranges. Limes. Lemons. Guavas.
            Carrots. Cucumbers. Jicamas. Cauliflowers. Brussels sprouts. Shallots. Japanese eggplants. Asparagus.
            Artichokes—Jerusalem artichokes, too. Radishes. Broccoli. Baby broccoli. Broccolini. Bok choy. Scallions.
            Ginger. Cherries. Raspberries. Cilantro. Parsley. Dill. <br><br>What are we forgetting?<br><br>Oh!
            Onions. Yams. Avocados. Lettuce. Arugula (to some, “rocket”). Persian cucumbers, in addition to
            aforementioned “normal” cucumbers. Artichokes. Zucchinis. Pumpkins. Squash (what some cultures call
            pumpkins). Sweet potatoes and potato-potatoes. Jackfruit. Monk fruit. Fruit of the Loom. Fruits of our
            labor (this website). Sorrel. Pineapple. Mango. Gooseberries. Blackberries. Tomatoes. Heirloom tomatoes.
            Beets. Chives. Corn. Endive. Escarole, which, we swear, we’re vendors of organic produce, but if you asked
            us to describe what escaroles are...
          </p>
        </div>
      </div>
      <!-- <div class="flex-row">
        <img class="im2-1" src="img/im2-1.png" alt="im2 1">
        <div class="flex-col-1">
          <img class="im1-1" src="img/im1-1.png" alt="im1 1">
          <p class="los-inmigrantes-de-mxico-xxxxxxxxxx">
            <span class="span0">Los inmigrantes de México</span><span class="span1"> — xxxxxxxxxx</span>
          </p>
        </div>
      </div> -->
    </div>
  </div>
</main>
  {% endblock %}