{% extends "pages/base.html" %}

{% block title %}
MiCenterNYC
{% endblock %}
{% block content %}
<main>
<div class="container-center-horizontal">
    <div class="homepage screen">
      <div class="flex-col">
        
        <h1 class="title">Find the Center Perfect for YOU</h1>
        <a href="{% url 'shelters' %}" class="button" style="color: white;">Find Centers Near Me</a>

        
      <!-- <div class="flex-row">
        <img class="im2-1" src="img/im2-1.png" alt="im2 1">
        <div class="flex-col-1">
          <img class="im1-1" src="img/im1-1.png" alt="im1 1">
          <p class="los-inmigrantes-de-mxico-xxxxxxxxxx">
            <span class="span0">Los inmigrantes de México</span><span class="span1"> — xxxxxxxxxx</span>
          </p>
        </div>
      </div> -->
    </div>
  </div>
</main>
  {% endblock %}