{% extends "pages/base.html" %}

{% block title %}
Shelters Near You
{% endblock %}
{% block content %}
<main class="shelters">
    <h1>Shelters Near You</h1>
    <p>Find a shelter near you.</p>
    <hr>
    <div class="shelters-container">
        {% for shelter in shelters %}
        <div class="shelter">
            <img
                src="https://imgs.search.brave.com/UcM6REYlsSjOywh4LBY3YR8WXHR1yNL9IT_-AqVMwlI/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9pLnBp/bmltZy5jb20vb3Jp/Z2luYWxzLzQxLzc3/L2JlLzQxNzdiZTU3/MjQ1OWQyNWJhOWNh/ZjBkM2I4ZTA5MTli/LmpwZw">
            <div class="text">
                <h3>{{ shelter.name }}</h3>
                <p>{{ shelter.vicinity }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
</main>
{% endblock %}