{% extends "pages/base.html" %}

{% block title %}
Shelters Near You
{% endblock %}
{% block content %}
<main class="shelters">
    <h1>Shelters Near You</h1>
    <p>Find a shelter near you.</p>
    <hr>
    <div class="shelters-container">
        {% for shelter in shelters %}
        <div class="shelter">
            {% with first_photo=shelter.photos|first %}
            <img
                src="https://maps.googleapis.com/maps/api/place/photo?maxwidth=400&photoreference={{ first_photo.photo_reference }}&key=AIzaSyBudDAel4hrhurK0iGmhl9H3kMvzwZ3IqY">
            {% endwith %}
            <div class="text">
                <h3>{{ shelter.name }}</h3>
                <p>{{ shelter.vicinity }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
</main>
{% endblock %}