{% extends "pages/base.html" %}

{% block title %}
Shelter Information
{% endblock %}
{% block content %}
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
        }
        .container {
            max-width: 800px;
            margin: 50px auto;
            background-color: #fff;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        h1 {
            text-align: center;
        }
        .info {
            margin-top: 30px;
        }
        .info p {
            margin-bottom: 10px;
        }
        .button {
            display: block;
            width: 200px;
            margin: 20px auto;
            padding: 10px 20px;
            text-align: center;
            background-color: #007bff;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            text-decoration: none;
        }
        .button:hover {
            background-color: #0056b3;
        }
    </style>
<main>
    <div class="container">
        <h1> {{shelter_location.name}} Information</h1>
        <div class="info">
            
            <p><strong>Address:</strong> {{shelter_location.address}}</p>
            <p><strong>Phone:</strong> {{shelter_location.number}}</p>
            <p><strong>Hours:</strong> </p>
            <ul>
                {% for hour in hours %}
                    <li style="list-style: none;">{{ hour }}</li>
                {% endfor %}
            </ul>
            
        </div>
        <a href="{{ donate_link }}" class="button">Donate</a>
    </div>
</main>
{% endblock %}
